/* body */
body {
  font-family: "Open Sans", open-sans, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #343434;
}

.main-container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* nav */
nav {
  width: 100%;
  background-color: #222324;
  overflow: hidden;
}

nav a {
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 9px;
  color: #ffce26;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #737575;
}

#logo {
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #c4c4c4;
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: -20px;
}

/* Search */
.search {
  flex: 1;
}

.search input {
  display: inline-block;
  width: 400px;
  height: 30px;
  border-radius: 6px;
  transition: all .18s ease;
  touch-action: manipulation;
  cursor: text;
  margin-right: 5px;
  margin-left: 5px;
  font-size: .9rem;
  background: transparent;
  color: #fff;
  border: none; 
  letter-spacing: 1px;
  background: rgba(221, 221, 221, 0.2);
}

.search-bar{
  padding: 15px 35px 10px 1px;
}

.btn{
  background: transparent;
  color: #fff;
  width: 60px;
  border: none;
  height: 100%;
  max-height: 250px;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  font-size: .9rem;
  overflow: visible;
  letter-spacing: 1px;
}
.error-line{
  color: #fbfdfd;
  font-size: 1.2rem;
  padding-left:10px;
}
/* MovieList */
.title {
  font-family: 'Hind', sans-serif;
  color: #ffce26;
  font-size: 18px;
  margin: 0 10px;
  width: 100%;
  letter-spacing: 1px;
  line-height: 48px;
}
.movie-menu {
  color: #ffce26;
  font-size: 18px;
  margin: 0 10px;
  width: 100%;
  letter-spacing: 1px;
  line-height: 48px;
}

.movie-container {
  display: block;
  height: 50px;
  font-family: "Open Sans", open-sans, sans-serif;
  color: #fbfdfd;
  justify-items: start;
  align-items: center;
  text-align: left;
  cursor: pointer;
  border: 3px solid #0c0c0c;
  border-radius: 6px;
  margin-right: 20px;
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 10px;
  transition: all .2s ease-in-out;
}